@model LuckyWeb.Models.Pregunta

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pregunta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPreguntas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoPreguntas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Respuesta1Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Respuesta1Pregunta.IDrespuesta1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Respuesta2Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Respuesta2Pregunta.IDrespuesta2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Respuesta3Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Respuesta3Pregunta.IDrespuesta3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Respuesta4Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Respuesta4Pregunta.IDrespuesta4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Respuesta5Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Respuesta5Pregunta.IDrespuesta5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Respuesta6Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Respuesta6Pregunta.IDrespuesta6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Respuesta7Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Respuesta7Pregunta.IDrespuesta7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Respuesta8Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Respuesta8Pregunta.IDrespuesta8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Respuesta9Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Respuesta9Pregunta.IDrespuesta9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Respuesta10Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Respuesta10Pregunta.IDrespuesta10)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDpreguntas">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
