@model IEnumerable<LuckyWeb.Models.Pregunta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-color:#6B7A8F">
    <div class="card">
        <div id="table" class="table-editable">
            <p>
                <a class="btn btn-danger btn-rounded btn-sm my-0" asp-action="Create">Ingrese sus respuestas</a>
            </p>
            <div>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EstadoPreguntas)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FK_Respuesta1Pregunta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FK_Respuesta2Pregunta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FK_Respuesta3Pregunta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FK_Respuesta4Pregunta)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EstadoPreguntas)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FK_Respuesta1Pregunta.IDrespuesta1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FK_Respuesta2Pregunta.IDrespuesta2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FK_Respuesta3Pregunta.IDrespuesta3)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FK_Respuesta4Pregunta.IDrespuesta4)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FK_Respuesta5Pregunta.IDrespuesta5)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EstadoPreguntas)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FK_Respuesta6Pregunta)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FK_Respuesta7Pregunta)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FK_Respuesta8Pregunta)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FK_Respuesta9Pregunta)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FK_Respuesta10Pregunta)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EstadoPreguntas)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FK_Respuesta6Pregunta.IDrespuesta6)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FK_Respuesta7Pregunta.IDrespuesta7)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FK_Respuesta8Pregunta.IDrespuesta8)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FK_Respuesta9Pregunta.IDrespuesta9)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FK_Respuesta10Pregunta.IDrespuesta10)
                            </td>
                        </tr>
                        <table class="table table-bordered table-responsive-md table-striped text-center">
                            <thead class="thead-light">
                                <tr>
                                    <th><a asp-action="Edit" asp-route-id="@item.IDpreguntas">Editar</a></th>
                                    <th><a asp-action="Delete" asp-route-id="@item.IDpreguntas">Eliminar</a></th>
                                </tr>
                            </thead>
                        </table>
                    }
                </tbody>

            </table>
        </div>
    </div>
</body>