@model LuckyWeb.Models.Mascota

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Mascota</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            <img src="@Model.ImagenMascota" style="max-width: 400px; height: auto; " />
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMascota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreMascota)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EdadMascota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EdadMascota)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FK_RazaMascota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FK_RazaMascota.IDraza)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FK_EsterilizadoMascota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FK_EsterilizadoMascota.IDesterilizad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FK_EstadoMascotaMascota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FK_EstadoMascotaMascota.IDestadoMascota)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMascota">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
