@model IEnumerable<LuckyWeb.Models.Mascota>

@{
    ViewData["Title"] = "Mascotas";
}

    <body style="background-color:wheat">

        <h1 align="center">Mascotas</h1>

        @if (User.IsInRole("Administrador"))
        {
            <p>
                <a class="btn btn-outline-info btn-floating" asp-action="Create">Agregar nueva mascota </a>
            </p>
        }
        <form action="@Url.Action("Index","NombreMascota")", method="get">
            <div class="row">
                <div class="col-md-3"> @Html.TextBox("NombreMascota",null,new { placeholder = "Busca tu perrito", @class="form-control" })</div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success" style="margin-left:25px">Buscar</button>
                </div>
            </div>
        </form>
        <div class="table-responsive-sm">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NombreMascota)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EdadMascota)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Raza)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Esterilizado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Estado)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreMascota)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EdadMascota)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Raza)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Esterilizado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td>
                                @if (User.IsInRole("Administrador"))
                                {
                                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.IdMascota">Editar</a>
                                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdMascota">Detalles</a>

                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                                        Eliminar
                                    </button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <h5 style="color:black">Seguro que desea eliminar este registro</h5>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdMascota">Si</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdMascota">Detalles</a>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>