@model IEnumerable<LuckyWeb.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreMascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdadMascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Esterilizado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMascota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdadMascota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Esterilizado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMascota">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMascota">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMascota">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
