@model IEnumerable<LuckyWeb.Models.Mascota>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreMascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdadMascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_RazaMascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_EsterilizadoMascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_EstadoMascotaMascota)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMascota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdadMascota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_RazaMascota.IDraza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_EsterilizadoMascota.IDesterilizad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_EstadoMascotaMascota.IDestadoMascota)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMascota">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMascota">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMascota">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
