@model IEnumerable<LuckyWeb.Models.Agenda>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaAgenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_UserAgenda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAgenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_UserAgenda.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDagenda">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDagenda">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDagenda">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
