@model LuckyWeb.Models.FormularioEncuesta

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FormularioEncuesta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_UserFormularioEncuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_UserFormularioEncuesta.IdUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_MascotaFormularioEncuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_MascotaFormularioEncuesta.Esterilizado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_PreguntaFormularioEncuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_PreguntaFormularioEncuesta.IDpreguntas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDformularioEncuesta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
